* {
  margin: 0;
  padding: 0;
  color: #283618;
}

#abc {
  width: 100%;
  height: 50px;
  background-color: #fefae0;
}

nav {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

nav ul {
  float: right;
  margin-right: 30px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;
}

nav ul li:hover {
  background-color: #bc6c25;
}

nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  color: #283618;
  padding: 30px;
}

.container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("https://Shaw-law.github.io/images/satanya.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.about {
  text-align: center;
}
.about .name {
  font-size: 2.5em;
}
